<!DOCTYPE html>
<html>
  <head>
    <title>FirstBooksApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% if user_signed_in? %>
    <h3>Xin chào, bạn <%= current_user.name %>! </h3>
    <h3>Bạn muốn ... </h3>

    <%= link_to "Chỉnh sửa" , edit_user_registration_path%>
    <p> hay </p>

    <%= link_to "Đăng xuất" , destroy_user_session_path, method: :delete %>
    <%= link_to current_user.name , users_show_path %>
  <hr>
  <% else %>
    <h3> Bạn chưa đăng nhập, mời làm các bước sau </h3>
    <%= link_to "Đăng nhập" , new_user_session_path %>
    
    <h3> hoặc </h3>
    <%= link_to "Tạo tài khoản mới" , new_user_registration_path %>
  <% end %>
    
    <%= yield %>
  </body>
</html>
